.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
h1{
    font-family:'Monotype Corsiva', 'Century Gothic';
    font-size: 75px;
}