body, html {
  margin: 0;
  font-family: 'Allerta', New Roman, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: linear-gradient(172deg, rgba(255,255,255,1) 17%, rgba(233,233,255,1) 41%, rgba(215,173,255,1) 61%, rgba(183,148,255,1) 87%, rgba(176,169,223,1) 100%);
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
