.nav{
    min-width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}

ul.nav li, .Logout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: lightslategray 2px solid;
    /*border-image: url(image/border1.png) 90 round round ;*/
    width: 15%;
    border-radius: 10px;
    color: rgba(65, 97, 65, 1);
}
.Logout{
    height: 100%;
    background-color: transparent;
    /*color: #611a8b;*/
}
ul{
    width:75vw;
}
.Menu{
    display: flex;
    justify-content: center;
    max-height: 100px;
}
img{
    margin-left: 0;
    margin-right: 5%;
}
a:-webkit-any-link {
     color: rgba(65, 97, 65, 1);
}